@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.swiper-button-prev{
    color: #121212 !important;
    font-size: 32px !important;
}
.swiper-button-next{
    color: #121212 !important;
    font-size: 32px !important;
}
.swiper-button-prev::after{
    color: #121212 !important;
    font-size: 32px !important;
}
.swiper-button-next::after{
    color: #121212 !important;
    font-size: 32px !important;
}